.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.logo_text {
  margin-top: 20px;
  width: 90px;
}

.profile_picture {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin-right: 10px;
}

.bi {
  margin-right: 10px;
  position: relative;
  top: 3;
}

.container div {
  width: 200px;

}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  width: 222px;
  border-right: rgb(209, 204, 204) solid 1px;

}

.container div:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.container div {
  padding: 5px;
  border-radius: 8px;
}

.dp {
  height: 36px;
  width: 36px;
  border: white solid 2px;
  position: relative;
  top: 2px;
  left: 2px;
  cursor: pointer;
}

.dpBack {
  margin-top: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

.user {
  font-weight: 500;
  font-size: 12px;
  margin-left: 12px;
  position: relative;
  top: 8px;
  cursor: pointer;
}

.image {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 425px;
  width: 425px;
}

.book {
  margin-left: 318px;
}

.likes {
  font-size: small;
}

.story {
  height: 80px;
  background-color: aquamarine;
}

.caption {
  font-size: small;
}


.hr {
  width: 426px;
}

.more {
  position: relative;
  right: 20px;
  bottom: 240px;
  cursor: pointer;

}

.feedContainer {
  margin-left: 90px;
}

.suggesContainer {
  display: flex;
  justify-content: space-between;
}

.follow,
.switch {
  color: #0095f6;
  font-size: 12px;
  position: relative;
  top: 11px;
  font-weight: 500;
  cursor: pointer;
}

.seeAll {
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.forYou {
  font-size: 13px;
  color: gray;
  font-weight: 600;
}

.suggesDp {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.suggesUser {
  font-weight: 500;
  font-size: 12px;
  margin-left: 12px;
  position: relative;
  bottom: 8px;
  cursor: pointer;
}

.storyWrapper {
  display: flex;
  margin-bottom: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

.storyUser {
  cursor: pointer;
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
  max-width: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.storyDp {
  cursor: pointer;
  height: 54px;
  width: 54px;
  border: white solid 2px;
  position: relative;
  left: 2px;
  top: 2px;
}

.storyDpBack {
  margin-top: 8px;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

.storyContainer {
  margin: 6px;
}

.tick {
  margin-top: 1px;
}

.bi {
  cursor: pointer;
}